*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px 20px;
    background-color: antiquewhite;
    font-family: sans-serif;
}

header h1{
    padding: 10px 0;
}

@media (min-width : 700px) {
    body{
        padding: 36px 72px;
    }
}

@media (min-width : 1024px) {
    body{
        padding: 76px 112px;
    }
    header{
        width: 100%;
        display: flex;
        align-items: center;
    }
    header .div{
        width: 45%;
    }
    header h1{
        width: 55%;
        font-size: 54px;
    }
}